body {
    background-color: white;
}

.video-container {
    width: 100%;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video {
    width: 100%;
    background: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.video video {
    max-width: 150vh;
    width: 90%;
    min-width: 50%;
}

.video-stats {
    width: 90%;
    border-bottom: 1px solid #ddd;
}

.video-stats-head {
    padding: 1rem;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    line-height: 1.5rem;
}
.video-title {
    font-size: 1.5rem;
}

.video-stats-right {
    font-size: 1.2rem;
    font-weight: 700;
}
.video-saved {
    margin: 0 1rem;
    cursor: pointer;
}
.video-saved.saved {
    color: hsl(0, 100%, 40%);
}

.video-stats-bottom {
    padding: 0 1rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
}

.video-description {
    padding: 1rem;
}

.tags {
    font-size: 0.9rem;
    display: inline-block;
    width: 100%;
}

.tag {
    padding: 0.2rem 0.4rem;
    background-color: #ccc;
    border-radius: 3px;
    margin: 0 0.1rem;
    color: #020;
}

.upload-date {
    font-size: 0.9rem;
    display: inline-block;
    width: 100%;
    margin: 0.3rem 0;
}


/* BOTTOM */

.recommended-posts {

}
