body {
    background-color: white;
}

.video-container {
    width: 100%;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video {
    width: 100%;
    background: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
}
.video video {
    max-width: 155vh;
    width: 90%;
    min-width: 50%;
}

/* CONTROLS */

.controls {
    max-width: 155vh;
    width: 90%;
    min-width: 50%;
    height: 100%;
    position: absolute;
    color: #ddd;
}

.controls .bottom-bar {
    background-color: #0008;
    padding: 0.5rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
}

.controls .pause, .controls .mute {
    font-size: 2rem;
    padding: 0 0.7rem;
    cursor: pointer;
}



.video-stats {
    width: 90%;
    border-bottom: 1px solid #ddd;
}

.video-stats-head {
    padding: 1rem;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    line-height: 1.5rem;
}
.video-title {
    font-size: 1.5rem;
}

.video-stats-right {
    font-size: 1.2rem;
    font-weight: 700;
}
.video-saved {
    margin: 0 1rem;
    cursor: pointer;
}
.video-saved.saved {
    color: hsl(0, 100%, 40%);
}

.video-stats-bottom {
    padding: 0 1rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
}

.video-description {
    padding: 1rem;
}
.video-description img {
    display: none;
}

.tags {
    font-size: 0.9rem;
    display: inline-block;
    width: 100%;
}

.tag {
    padding: 0.2rem 0.4rem;
    background-color: #ccc;
    border-radius: 3px;
    margin: 0 0.1rem;
    color: #020;
}

.upload-date {
    font-size: 0.9rem;
    display: inline-block;
    width: 100%;
    margin: 0.3rem 0;
}


/* BOTTOM */

.recommended-posts {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 1rem;
}

@media screen and (max-width: 1200px) {
    .recommended-posts {
        grid-template-columns: 50% 50%;
    }
}
@media screen and (max-width: 800px) {
    .recommended-posts {
        grid-template-columns: 100%;
    }
}


/* IF NOT VIDEO */

.media-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.media-thumbnail {
    width: calc(100% - 4rem);
    max-width: 120vh;
    cursor: default;
    text-align: center;
}
.media-thumbnail .resource-thumbnail {
    transform: none !important;
}
.media-thumbnail .resource-shadow {
    opacity: 0.3 !important;
}
.no-media .video-description img {
    display: initial;
    max-width: 100%;
}

/* IF AUDIO */

.audio-control {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}
