{% extends 'core/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'media_handler/css/post.css' %}">
    <script src="{% static 'media_handler/js/post.js' %}" defer></script>
{% endblock head %}

{% block body %}
    <div class="content-container">
        {% include 'components/sidebar.html' %}

        <div class="content">
            <div class="video-container">
                <div class="video">
                    <video class="ratio ratio-16x9" controls>
                        <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="video-stats">
                    <div class="video-stats-head">
                        <span class="video-title">Mindfulness practising</span>
                        <div class="video-stats-right">
                            <span id="post-save" title="Save post" data-toggle="tooltip" class="video-saved" onclick="save()">0 <i class="far fa-bookmark"></i></span>
                        </div>
                    </div>
                    <div class="video-stats-bottom">
                        <span class="upload-date">Uploaded 1. 1. 2022</span>
                        <span class="tags">
                            <span class="tag">Tag</span>
                            <span class="tag">Tag</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
