{% extends 'core/base.html' %}
{% load static %}

{% load markdown_extras %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'media_handler/css/post.css' %}">
    <script src="{% static 'media_handler/js/post.js' %}" defer></script>
{% endblock head %}

{% block body %}
    <div class="content-container">
        {% include 'components/sidebar.html' %}

        <div class="content">
            {% if post.media_content and "video" in post.media_content.mime_type %}
                <div class="video-container">
                    <div class="video">
                        <video id="video" class="ratio ratio-16x9" controls>
                            <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                        </video>
                        <!--div class="controls" onclick="pauseVid()">
                            <div class="bottom-bar" onclick="event.stopPropagation()">
                                <div class="pause" onclick="pauseVid()"><i class="fas fa-play"></i></div>
                                <div class="mute" onclick="muteVid()"><i class="fas fa-volume-down"></i></div>
                            </div>
                        </div-->
                    </div>
                    <div class="video-stats">
                        <div class="video-stats-head">
                            <span class="video-title">{{ post.title }}</span>
                            <div class="video-stats-right">
                                <span id="post-save" title="Save post" data-toggle="tooltip" class="video-saved"><span id="saved-count">{{ post.saved.all | length}}</span> <i class="far fa-bookmark"></i></span>
                            </div>
                        </div>
                        <div class="video-stats-bottom">
                            <span class="media-author">By {{ post.author }}</span>
                            <span class="upload-date">Published: {{ post.created_on }}</span>
                            <span class="tags">
                                {% for tag in post.tags.all %}
                                <span class="tag">{{ tag }}</span>
                                {% endfor %}
                            </span>
                        </div>
                        {% if post.description %}
                            <div class="video-description">
                                {{ post.description | markdown | safe }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="media-container {% if not post.media_content %}no-media{% endif %}">
                        <div class="big-tile resource media-thumbnail">
                            {% if post.media_content and "audio" in post.media_content.mime_type %}
                            <audio controls class="audio-control">
                                <source src="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3">
                            </audio>
                            {% endif %}
                            <img class="resource-thumbnail" {% if post.thumbnail %}src="{{ post.thumbnail.image.path }}"{% else %}src="{% static 'core/images/default-img.jpg' %}"{% endif %} alt="Post thumbnail">
                            <div class="resource-shadow"></div>
                        </div>
                        <div class="video-stats">
                            <div class="video-stats-head">
                                <span class="video-title">{{ post.title }}</span>
                                <div class="video-stats-right">
                                    <span id="post-save" title="Save post" data-toggle="tooltip" class="video-saved"><span id="saved-count">{{ post.saved.all | length}}</span> <i class="far fa-bookmark"></i></span>
                                </div>
                            </div>
                            <div class="video-stats-bottom">
                                <span class="media-author">By {{ post.author }}</span>
                                <span class="upload-date">Published: {{ post.created_on }}</span>
                                <span class="tags">
                                    {% for tag in post.tags.all %}
                                    <span class="tag">{{ tag }}</span>
                                    {% endfor %}
                                </span>
                            </div>
                            {% if post.description %}
                                <div class="video-description">
                                    {{ post.description | markdown | safe }}
                                </div>
                            {% endif %}
                        </div>
                </div>
            {% endif %}
            
            <span class="w-100 text-center d-inline-block h3 mb-0 mt-3">Recommended</span>
            <div class="recommended-posts">
                <div class="resource">
                    <span class="resource-title">Placeholder Title</span>
                    <span class="resource-tags">By Author</span>
                    <span class="resource-save" onclick="viewLater(this)"><i class="fas fa-clock"></i> <span class="small-show">Save for later</span></span>
                    <img class="resource-thumbnail" src="https://www.thoughtco.com/thmb/_fjKZyImBppgDXa6L5yejRch35s=/1881x1411/smart/filters:no_upscale()/Mindfulness-8e38c4e97d94416392442d4430a3812d.jpg" alt="Media thumbnail">
                    <div class="resource-shadow"></div>
                </div>
                <div class="resource">
                    <span class="resource-title">Placeholder Title</span>
                    <span class="resource-tags">By Author</span>
                    <span class="resource-save" onclick="viewLater(this)"><i class="fas fa-clock"></i> <span class="small-show">Save for later</span></span>
                    <img class="resource-thumbnail" src="https://www.thoughtco.com/thmb/_fjKZyImBppgDXa6L5yejRch35s=/1881x1411/smart/filters:no_upscale()/Mindfulness-8e38c4e97d94416392442d4430a3812d.jpg" alt="Media thumbnail">
                    <div class="resource-shadow"></div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        $(function($){
            var saveButton = $("#post-save");
            {% if saved %}
                saveButton.addClass("saved");
                $(saveButton).attr('data-bs-original-title', 'Unsave post');
            {% endif %}

            console.log($)
            
            $(saveButton).click(function(){
                $(saveEvent("{% url 'media_handler:post_save' slug=post.slug  %}", "{{ csrf_token }}", saveButton));
            });
        });
    </script>
{% endblock body %}
