{% extends 'core/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'media_handler/css/post.css' %}">
    <script src="{% static 'media_handler/js/post.js' %}" defer></script>
{% endblock head %}

{% block body %}
    <div class="content-container">
        {% include 'components/sidebar.html' %}

        <div class="content">
            <!-- IF VIDEO -->
            <div class="video-container">
                <div class="video">
                    <video class="ratio ratio-16x9" controls>
                        <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="video-stats">
                    <div class="video-stats-head">
                        <span class="video-title">{{ post.title }}</span>
                        <div class="video-stats-right">
                            <span id="post-save" title="Save post" data-toggle="tooltip" class="video-saved" onclick="save()">0 <i class="far fa-bookmark"></i></span>
                        </div>
                    </div>
                    <div class="video-stats-bottom">
                        <span class="upload-date">Published: {{ post.created_on }}</span>
                        <span class="tags">
                            {% for tag in post.tags.all %}
                            <span class="tag">{{ tag }}</span>
                            {% endfor %}
                        </span>
                    </div>
                    <div class="video-description">
                        Lolem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                </div>
            </div>
            <!-- ENDIF -->
            <div class="recommended-posts">

            </div>
        </div>
    </div>
{% endblock body %}
