{% extends 'core/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/dashboard.css' %}">
    <script src="{% static 'core/js/dashboard.js' %}" defer></script>
{% endblock head %}

{% block body %}
        <div class="content-container">

            {% include 'components/sidebar.html' %}
            <div class="inner-content-container" style="background-image:url('{% static 'core/images/bg.png' %}')">
                <div class="content">
                    <div class="content-head">
                        <div class="head-tile search">
                            <input type="text" id="search-resources" placeholder=" ">
                            <label for="search-resources"><i class="fas fa-search"></i> <span class="search-text">Search</span></label>
                        </div>
                    </div>
                    <div class="big-tile recommended">
                        <div class="resource">
                            <span class="resource-info">Recommended for you</span>
                            <span class="resource-title">Placeholder Title</span>
                            <span class="resource-tags">By Author</span>
                            <span class="resource-save" onclick="viewLater(this)"><i class="fas fa-clock"></i> <span class="small-show">Save for later</span></span>
                            <img class="resource-thumbnail" src="https://www.thoughtco.com/thmb/_fjKZyImBppgDXa6L5yejRch35s=/1881x1411/smart/filters:no_upscale()/Mindfulness-8e38c4e97d94416392442d4430a3812d.jpg" alt="Media thumbnail">
                            <div class="resource-shadow"></div>
                        </div>
                    </div>
                    <div class="big-tile continue">
                        <div class="resource">
                            <span class="resource-info">Continue watching</span>
                            <span class="resource-title">Placeholder Title</span>
                            <span class="resource-tags">By Author</span>
                            <span class="resource-save" onclick="viewLater(this)"><i class="fas fa-clock"></i> <span class="small-show">Save for later</span></span>
                            <img class="resource-thumbnail" src="https://res.cloudinary.com/practicaldev/image/fetch/s--P-zvMTgt--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://dev-to-uploads.s3.amazonaws.com/i/qyix6eyhrnc8x9c44yp2.jpg" alt="Media thumbnail">
                            <div class="resource-shadow"></div>
                        </div>
                    </div>
                    <div class="">
                        <div class="resource">
                            <span class="resource-title">Placeholder Title</span>
                            <span class="resource-tags">By Author</span>
                            <span class="resource-save" onclick="viewLater(this)"><i class="fas fa-clock"></i> <span class="small-show">Save for later</span></span>
                            <img class="resource-thumbnail" src="https://res.cloudinary.com/practicaldev/image/fetch/s--P-zvMTgt--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://dev-to-uploads.s3.amazonaws.com/i/qyix6eyhrnc8x9c44yp2.jpg" alt="Media thumbnail">
                            <div class="resource-shadow"></div>
                        </div>
                    </div>
                    <div class="">
                        <div class="resource">
                            <span class="resource-title">Placeholder Title</span>
                            <span class="resource-tags">By Author</span>
                            <span class="resource-save" onclick="viewLater(this)"><i class="fas fa-clock"></i> <span class="small-show">Save for later</span></span>
                            <img class="resource-thumbnail" src="https://res.cloudinary.com/practicaldev/image/fetch/s--P-zvMTgt--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://dev-to-uploads.s3.amazonaws.com/i/qyix6eyhrnc8x9c44yp2.jpg" alt="Media thumbnail">
                            <div class="resource-shadow"></div>
                        </div>
                    </div>
                    <div class="">
                        <div class="resource">
                            <span class="resource-title">Placeholder Title</span>
                            <span class="resource-tags">By Author</span>
                            <span class="resource-save" onclick="viewLater(this)"><i class="fas fa-clock"></i> <span class="small-show">Save for later</span></span>
                            <img class="resource-thumbnail" src="https://res.cloudinary.com/practicaldev/image/fetch/s--P-zvMTgt--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://dev-to-uploads.s3.amazonaws.com/i/qyix6eyhrnc8x9c44yp2.jpg" alt="Media thumbnail">
                            <div class="resource-shadow"></div>
                        </div>
                    </div>
                    <div class="">
                        <div class="resource">
                            <span class="resource-title">Placeholder Title</span>
                            <span class="resource-tags">By Author</span>
                            <span class="resource-save" onclick="viewLater(this)"><i class="fas fa-clock"></i> <span class="small-show">Save for later</span></span>
                            <img class="resource-thumbnail" src="https://res.cloudinary.com/practicaldev/image/fetch/s--P-zvMTgt--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://dev-to-uploads.s3.amazonaws.com/i/qyix6eyhrnc8x9c44yp2.jpg" alt="Media thumbnail">
                            <div class="resource-shadow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock body %}