{% extends 'core/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/dashboard.css' %}">
    <script src="{% static 'core/js/dashboard.js' %}" defer></script>
{% endblock head %}

{% block title %}Dashboard{% endblock title %}

{% block body %}
        <div class="content-container">

            {% include 'components/sidebar.html' %}
            <div class="inner-content-container" style="background-image:url('{% static 'core/images/bg.png' %}')">
                <div class="content">
                    <div class="content-head">
                        <div class="head-tile search">
                            <input type="text" id="search-resources" placeholder=" ">
                            <label for="search-resources"><i class="fas fa-search"></i> <span class="search-text">Search</span></label>
                        </div>
                    </div>
                    <div class="big-tile recommended">
                        {% if recommended %}
                            <a href="{% url 'media_handler:post' slug=recommended.0.slug %}" class="resource">
                                <span class="resource-info">Recommended for you</span>
                                <span class="resource-title">{{ recommended.0.title }}</span>
                                <span class="resource-tags">By {{ recommended.0.author }}</span>
                                <span class="resource-save" onclick="viewLater(this)"><i class="fas fa-clock"></i> <span class="small-show">Save for later</span></span>
                                <img class="resource-thumbnail" {% if recommended.0.thumbnail.image %}src="{{ recommended.0.thumbnail.image.url }}"{% else %}src="{% static 'core/images/default-img.jpg' %}"{% endif %} alt="Media thumbnail">
                                <div class="resource-shadow"></div>
                            </a>
                        {% else %}
                            <a href="{% url 'core:dashboard' %}" class="resource">
                                <span class="resource-info">Recommended for you</span>
                                <span class="resource-title">Your mom phat</span>
                                <span class="resource-tags">By Freddy</span>
                                <span class="resource-save" onclick="viewLater(this)"><i class="fas fa-clock"></i> <span class="small-show">Save for later</span></span>
                                <img class="resource-thumbnail" src="{% static 'core/images/default-img.jpg' %}" alt="Media thumbnail">
                                <div class="resource-shadow"></div>
                            </a>
                        {% endif %}
                    </div>

                    <div class="big-tile continue">
                        {% if continue %}
                            <a href="{% url 'media_handler:post' slug=continue.slug %}" class="resource">
                                <span class="resource-info">Continue watching</span>
                                <span class="resource-title">{{ continue.title }}</span>
                                <span class="resource-tags">By {{ continue.author }}</span>
                                <span class="resource-save" onclick="viewLater(this)"><i class="fas fa-clock"></i> <span class="small-show">Save for later</span></span>
                                <img class="resource-thumbnail" {% if continue.thumbnail.image %}src="{{ continue.thumbnail.image.url }}"{% else %}src="{% static 'core/images/default-img.jpg' %}"{% endif %} alt="Media thumbnail">
                                <div class="resource-shadow"></div>
                            </a>
                        {% else %}
                            <a href="{% url 'core:dashboard' %}" class="resource">
                                <span class="resource-info">Continue watching</span>
                                <span class="resource-title">Your mom phat</span>
                                <span class="resource-tags">By Freddy</span>
                                <span class="resource-save" onclick="viewLater(this)"><i class="fas fa-clock"></i> <span class="small-show">Save for later</span></span>
                                <img class="resource-thumbnail" src="{% static 'core/images/default-img.jpg' %}" alt="Media thumbnail">
                                <div class="resource-shadow"></div>
                            </a>
                        {% endif %}
                    </div>

                    {% for post in recommended|slice:"1:" %}
                        <div class="">
                            <a href="{% url 'media_handler:post' slug=post.slug %}" class="resource">
                                <span class="resource-title">{{ post.title }}</span>
                                <span class="resource-tags">By {{ post.author }}</span>
                                <span class="resource-save" onclick="viewLater(this)"><i class="fas fa-clock"></i> <span class="small-show">Save for later</span></span>
                                <img class="resource-thumbnail" {% if post.thumbnail.image %}src="{{ post.thumbnail.image.url }}"{% else %}src="{% static 'core/images/default-img.jpg' %}"{% endif %} alt="Media thumbnail">
                                <div class="resource-shadow"></div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

{% endblock body %}