{% extends 'core/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/dashboard.css' %}">
{% endblock head %}

{% block body %}

    {% if not user.is_validated %} <!-- bruh please do this in other file-->
        <p>
            User needs verification!
        </p>
        Hello {{user.username}}!
        <p><a class="btn btn-danger" href="/logout/">Logout</a></p>
    {% else %}
        

        <div class="dashboard-container">

        {% include 'components/sidebar.html' %}

            <div class="content">
                <div class="big-tile recommended">
                    Some content
                </div>
                <div class="big-tile continue">
                    Some content
                </div>
                <div class="">
                    Some content
                </div>
                <div class="">
                    Some content
                </div>
                <div class="">
                    Some content
                </div>
                <div class="">
                    Some content
                </div>
                <div class="">
                    Some content
                </div>
                <div class="">
                    Some content
                </div>
                <div class="">
                    Some content
                </div>
                <div class="">
                    Some content
                </div>
            </div>
        </div>


    {% endif %}

{% endblock body %}