:root {
    --block-bg: 255, 255, 255;
    --block-color: #333;
    --block-opacity: 0.8;
    --primary: hsl(92, 100%, 36%);
    --primary-h: 92;
    --primary-s: 100%;
    --primary-l: 36%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/*
 * CSS formatting and styles for basic forms
 */
.form-box {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--block-color);
  font-size: 1rem;
  line-height: 1;
  max-width: 1000px;
  min-width: 10rem;
  min-height: 5rem;
  padding: 1rem;
  pointer-events: auto;
  position: relative;
  font-size: 1.25rem;
}

.form-input-container {
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
  height: 3.5rem;
}
.form-input-container input {
  width: 100%;
  border-radius: 999px;
  background-color: #fff;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0;
  font-size: 1.25rem;
  border: none;
  height: 3.5rem;
  transition: padding-top 0.3s ease-in-out;
}
.form-input-container label {
  left: 1.5rem;
  top: 0;
  position: absolute;
  width: 100%;
  line-height: 3.5rem;
  pointer-events: none;
  color: #999;
  transition: top 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.form-input-container:focus-within label,
input:not(:placeholder-shown) + label {
  top: -0.75rem;
  font-size: 0.9rem;
}
.form-input-container:focus-within input,
input:not(:placeholder-shown) {
  padding-top: 1.2rem;
}

.form-input-container input {
  box-shadow: 0px 1px 1px 0 grey;
}

.button-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 3rem;
  border-radius: 999px;
  margin: auto;
}

.button-container button,
.grow-btn-submit {
  border-radius: 999px;
  width: 100%;
  font-size: 1.2rem;
  background-image: linear-gradient(
    150deg,
    hsl(calc(var(--primary-h) + 30), var(--primary-s), var(--primary-l)),
    hsl(calc(var(--primary-h) + 30), var(--primary-s), calc(var(--primary-l) - 15%)),
    hsl(calc(var(--primary-h) + 30), var(--primary-s), calc(var(--primary-l) - 10%))
  );
  transition: 0.5s;
  background-size: 200% auto;
  border: none;
  height: 100%;
  position: relative;
  line-height: 2.25rem;
  cursor: pointer;
}
.button-container::before {
  border-radius: 999px;
  width: 100%;
  content: "";
  background-image: linear-gradient(
    150deg,
    hsl(calc(var(--primary-h) + 30), var(--primary-s), var(--primary-l)),
    hsl(calc(var(--primary-h) + 30), var(--primary-s), calc(var(--primary-l) - 15%)),
    hsl(calc(var(--primary-h) + 30), var(--primary-s), calc(var(--primary-l) - 10%))
  );
  transition: 0.5s;
  background-size: 200% auto;
  border: none;
  height: 100%;
  filter: blur(3px);
  position: absolute;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
}
.button-container button:hover,
.button-container:hover:before,
.grow-btn-submit:hover {
  background-position: right center;
  opacity: 1;
}

.form-link {
  text-align: right;
  display: block;
  width: 100%;
  padding: 0 5%;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: -0.5rem;
  opacity: 0.8;
  color: black;
}
.form-link:hover {
  opacity: 1;
  color: black;
}

/**
 * Sidebar
 */
.sidebar {
    position: relative;
    top: 0;
    left: 0;
    width: 15rem;
    height: 100vh;
    background-image: linear-gradient(230deg, var(--primary), hsla(var(--primary-h), var(--primary-s), var(--primary-l), 0.69));

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sidebar-logo {
    margin-top: 0.5rem;
    width: 80%;
    position: relative;
    opacity: 0.8;
    transition: opacity 0.2s ease;
    aspect-ratio: 19/5;
    background-size: contain;
    background-repeat: no-repeat;
}
.sidebar-logo:hover {
    opacity: 1;
}

.sidebar-top, .sidebar-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 1rem 0;
    width: 100%;
}

.sidebar-bottom {
    margin-bottom: 0;
    padding: 0 0;
    background-color: #2d610010;
}
.sidebar-bottom .sidebar-link {
    padding: 1.7rem 1rem;
    padding-left: 2rem;
}
.sidebar-bottom .sidebar-link:hover, .sidebar-bottom .sidebar-link.active {
    background-color: #2d610020;
}

.sidebar-links-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}
.sidebar-link {
    position: relative;
    color: #fffc;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.7rem 1rem;
    padding-right: 1rem;
    padding-left: 2rem;
    width: 100%;
    transition: color 0.25s ease-in-out, padding-right 0.25s ease, padding-left 0.25s ease;
}
.sidebar-link.active {
    color: #fff;
    padding-right: 0;
    padding-left: 2rem;
    background-color: #2d610020;
}
.sidebar-link:hover {
    color: #fff;
    padding-right: 0;
    padding-left: 3rem;
    background-color: #2d610020;
}

.sidebar-hline {
    background-color: white;
    height: 1px;
    width: 90%;
    margin: 0.5rem 0;
    opacity: 0.3;
}

@media screen and (max-width: 800px) {
    .sidebar {
        width: 4rem;
    }

    .sidebar-hide {
        display: none;
    }

    .sidebar-logo {
        aspect-ratio: 1;
        width: 70%;
        /* image change is in sidebar.html file */
    }

    .sidebar-link {
        padding: 0.7rem 0 !important;
        font-size: 1.5rem;
        width: initial;
        text-align: center;
        width: 100%;
    }
}

/**
 * Subpage rules
 */
  .content-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
}

.content {
    width: calc(100% - 15rem);
    position: relative;
    height: 100vh;
    overflow-y: auto;
}

@media screen and (max-width: 800px) {
    .content {
        width: calc(100% - 4rem);
    }
}

/**
 * Resource templates
 */
 .resource {
  aspect-ratio: 4/3;
  margin: 1rem;
  position: relative;
  background: #0001;
  border-radius: 7px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.resource-thumbnail {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.resource:hover .resource-thumbnail {
  transform: scale(1.1);
}
.resource-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, black, #0004, #0004, black);
  opacity: 0.3;
  z-index: 1;
  transition: opacity 0.5s ease;
}
.resource:hover .resource-shadow {
  opacity: 0.4;
}
.resource-info, .resource-title, .resource-save, .resource-tags {
  position: absolute;
  z-index: 2;
  color: #fff;
  text-shadow: 0 0 2px #444;
  font-weight: bold;
}
.resource-info {
  top: calc(1rem + 2vw);
  font-size: 1vw;
  opacity: 0.7;
  font-weight: normal;
}
.resource-title {
  top: 0.5rem;
  font-size: 1vw;
  max-width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.big-tile .resource-title {
  font-size: 2vw;
}
.resource-tags {
  opacity: 0.7;
  max-width: 90%;
  bottom: 0.5rem;
  left: 1rem;
  font-size: 0.9rem;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: opacity 0.5s ease;
}
.resource:hover .resource-tags {
  opacity: 1;
}
.resource-save {
  opacity: 0;
  bottom: -2rem;
  font-size: 1.1rem;
  transition: opacity 0.5s ease, bottom 0.5s ease;
  background-color: #0007;
  padding: 0.3rem 0.7rem;
  border-radius: 5px;
  right: 1rem;
}
.resource:hover .resource-save {
  opacity: 1;
  bottom: 0.5rem;
}

/* This is for content that shows only on small devices */
.small-show {
  display: none;
}


@media screen and (max-width: 1200px) {
  .content {
      grid-template-columns: 50% 50%;
  }

  .big-tile {
      grid-column-start: 1;
      grid-column-end: 3;
  }

  .resource-title {
      font-size: 2vw;
  }
  .resource-info {
      font-size: 2vw;
      top: calc(1rem + 4vw);
  }
  .big-tile .resource-title {
      font-size: 4vw;
  }
}
@media screen and (max-width: 800px) {
  .content {
      grid-template-columns: 100%;
  }

  .big-tile {
      grid-column-start: 1;
      grid-column-end: 2;
  }

  .search {
      width: 100%;
      justify-content: initial;
  }
  .search-text {
      transition: opacity 0.2s ease !important;
      width: initial !important;
  }

  .resource-title {
      font-size: 4vw;
  }

  .resource-save {
      opacity: 1 !important;
      bottom: 0.5rem !important;
  }

  .small-show {
      display: initial;
  }
}

/**
 * Popups and modal windows
 */
.popup {
  position: fixed;
  top: 1rem;
  max-width: 90%;
  min-width: 20%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  background-color: white;
  color: black;
  box-shadow: 0px 1px 2px 0 black;
  padding: 0.6rem 1rem;
  padding-right: 2rem;
  text-align: center;
  z-index: 999;
  animation-name: popup;
  animation-duration: 0.5s;
  margin-top: 0;
  transition: margin-top 0.2s ease;
}
.popup.closed {
  animation-name: popup-fade;
  animation-duration: 0.5s;
  top: -3rem;
  opacity: 0;
}
.popup.success {
  color: #155724;
  background-color: #d4edda;
}
.popup.secondary {
  color: #383d41;
  background-color: #e2e3e5;
}
.popup.danger {
  color: #721c24;
  background-color: #f8d7da;
}
.popup.warning {
  color: #856404;
  background-color: #fff3cd;
}
.popup.info {
  color: #0c5460;
  background-color: #d1ecf1;
}
.popup i {
  position: absolute;
  right: 0.7rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  cursor: pointer;
}

/**
 * Helping rules
 */
.cursor-pointer {
  cursor: pointer;
}

.full-bg {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.generic-content {
  background-color: #fff4;
  padding: 1rem 2rem;
  border: 1px solid #0001;
  border-radius: 7px;
  position: relative;
  font-size: 1.1rem;
}

/*
 * FONTS
 * Always use "font-" prefix
 */
.font-poppins {
  font-family: "Poppins", sans-serif !important;
}

.font-comfortaa {
  font-family: "Comfortaa", cursive !important;
}

/*
 * Animations
 */

 @keyframes popup {
  0% {
    top: -3rem;
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    top: 1rem;
    opacity: 1;
  }
}

@keyframes popup-fade {
  0% {
    top: 1rem;
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    top: -3rem;
    opacity: 0;
  }
}
