:root {
    --block-bg: 255, 255, 255;
    --block-color: #333;
    --block-opacity: 0.8;
    --primary: #57b900;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*
 * CSS formatting and styles for basic forms
 */
.form-box {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--block-color);
    font-size: 1rem;
    line-height: 1;
    max-width: 1000px;
    min-width: 10rem;
    min-height: 5rem;
    padding: 1rem;
    pointer-events: auto;
    position: relative;
    font-size: 1.25rem;
}

.form-input-container {
    width: 100%;
    position: relative;
    margin-bottom: 1rem;
    height: 3.5rem;
}
.form-input-container input {
    width: 100%;
    border-radius: 999px;
    background-color: #fff;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0;
    font-size: 1.25rem;
    border: none;
    height: 3.5rem;
    transition: padding-top 0.3s ease-in-out;
}
.form-input-container label {
    left: 1.5rem;
    top: 0;
    position: absolute;
    width: 100%;
    line-height: 3.5rem;
    pointer-events: none;
    color: #999;
    transition: top 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.form-input-container:focus-within label, input:not(:placeholder-shown) + label {
    top: -0.75rem;
    font-size: 0.9rem;
}
.form-input-container:focus-within input, input:not(:placeholder-shown) {
    padding-top: 1.2rem;
}

.form-input-container input {
    box-shadow: 0px 1px 1px 0 grey;
}

.button-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 3rem;
    border-radius: 999px;
    margin: auto;
}

.button-container button {
    border-radius: 999px;
    width: 100%;
    font-size: 1.2rem;
    background-image: linear-gradient(150deg, rgb(0, 201, 0), green, rgb(0, 150, 0));
    transition: 0.5s;
    background-size: 200% auto;
    border: none;
    height: 100%;
    position: relative;
}
.button-container::before {
    border-radius: 999px;
    width: 100%;
    content: "";
    background-image: linear-gradient(150deg, rgb(0, 201, 0), green, rgb(0, 150, 0));
    transition: 0.5s;
    background-size: 200% auto;
    border: none;
    height: 100%;
    filter: blur(3px);
    position: absolute; 
    z-index: -1;
    pointer-events: none;
    opacity: 0;
}
.button-container button:hover, .button-container:hover:before {
    background-position: right center;
    opacity: 1;
}

.form-link {
    text-align: right;
    display: block;
    width: 100%;
    padding: 0 5%;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: -0.5rem;
    opacity: 0.8;
    color: black;
}
.form-link:hover {
    opacity: 1;
    color: black;
}

/**
 * Sidebar
 */
.sidebar {
    position: relative;
    top: 0;
    left: 0;
    width: 15rem;
    height: 100vh;
    background-image: linear-gradient(230deg, #57b900, #57b900b0);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sidebar-logo {
    margin-top: 0.5rem;
    width: 80%;
    position: relative;
    opacity: 0.8;
    transition: opacity 0.2s ease;
}
.sidebar-logo:hover {
    opacity: 1;
}

.sidebar-top, .sidebar-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 1rem 0;
    width: 100%;
}

.sidebar-bottom {
    margin-bottom: 0;
    padding: 0 0;
    background-color: #2d610010;
}
.sidebar-bottom .sidebar-link {
    padding: 1.7rem 1rem;
    padding-left: 2rem;
}
.sidebar-bottom .sidebar-link:hover, .sidebar-bottom .sidebar-link.active {
    background-color: #2d610020;
}

.sidebar-links-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}
.sidebar-link {
    position: relative;
    color: #fffc;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.7rem 1rem;
    padding-right: 1rem;
    padding-left: 2rem;
    width: 100%;
    transition: color 0.25s ease-in-out, padding-right 0.25s ease, padding-left 0.25s ease;
}
.sidebar-link.active {
    color: #fff;
    padding-right: 0;
    padding-left: 2rem;
    background-color: #2d610020;
}
.sidebar-link:hover {
    color: #fff;
    padding-right: 0;
    padding-left: 3rem;
    background-color: #2d610020;
}

.sidebar-hline {
    background-color: white;
    height: 1px;
    width: 90%;
    margin: 0.5rem 0;
    opacity: 0.3;
}

/**
 * Subpage rules
 */
.content-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
}

.content {
    width: calc(100% - 15rem);
}

/**
 * Popups and modal windows
 */
.popup {
    position: fixed;
    top: 1rem;
    max-width: 90%;
    min-width: 20%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    background-color: white;
    color: black;
    box-shadow: 0px 1px 2px 0 black;
    padding: 0.6rem 1rem;
    padding-right: 2rem;
    text-align: center;
    z-index: 999;
    animation-name: popup;
    animation-duration: 0.5s;
}
.popup i {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #333
}


/*
 * FONTS
 * Always use "font-" prefix
 */
.font-poppins {
    font-family: 'Poppins', sans-serif !important;
}

.font-comfortaa {
    font-family: 'Comfortaa', cursive !important;
}

/*
 * Animations
 */

@keyframes popup {
    0% {top: -3rem; opacity: 0;}
    30% {opacity: 0;}
    100% {top: 1rem; opacity: 1;}
}
