body {
    overflow-x: hidden;
}

.content {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    max-height: 100vh;
    overflow-y: auto;
    padding: 1rem;
    background-attachment: fixed;
}

.inner-content-container {
    width: calc(100% - 15rem);
    background-image: linear-gradient(-30deg, #ccc, #fff)
}
.inner-content-container .content {
    width: 100%;
}



.content-head {
    /*grid-column-start: 1;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 4rem;*/
    display: contents;
}

.head-tile {
    margin: 1rem;
    position: relative;
    background-color: var(--primary);
    background-image: linear-gradient(230deg, #fff0, #fff6);
    background-size: 200% auto;
    border-radius: 7px;
    cursor: pointer;
    padding: 1rem;
    font-size: 1.15rem;
    box-shadow: 0 1px 3px 0 #0000;
    transition: 0.3s ease;
    background-position: right center;
    color: white;
}
.head-tile:hover {
    box-shadow: 0 1px 3px #0005;
    background-position: left center;
}

.watch-later {
    background-color: hsl(92, 100%, 36%);
}
.history {
    background-color: hsl(92, 100%, 36%);
}
.saved {
    background-color: hsl(92, 100%, 36%);
}
.search {
    background-color: hsl(92, 100%, 36%);
}



.resource {
    aspect-ratio: 4/3;
    margin: 1rem;
    position: relative;
    background: #0001;
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.resource-thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}
.resource:hover .resource-thumbnail {
    transform: scale(1.1);
}
.resource-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, black, #0004, #0004, black);
    opacity: 0.3;
    z-index: 1;
    transition: opacity 0.5s ease;
}
.resource:hover .resource-shadow {
    opacity: 0.4;
}
.resource-info, .resource-title, .resource-save, .resource-tags {
    position: absolute;
    z-index: 2;
    color: #fff;
    text-shadow: 0 0 2px #444;
    font-weight: bold;
}
.resource-info {
    top: calc(1rem + 2vw);
    font-size: 1vw;
    opacity: 0.7;
    font-weight: normal;
}
.resource-title {
    top: 0.5rem;
    font-size: 1vw;
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.big-tile .resource-title {
    font-size: 2vw;
}
.resource-tags {
    opacity: 0.7;
    max-width: 90%;
    bottom: 0.5rem;
    left: 1rem;
    font-size: 0.9rem;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: opacity 0.5s ease;
}
.resource:hover .resource-tags {
    opacity: 1;
}
.resource-save {
    opacity: 0;
    bottom: -2rem;
    font-size: 1.1rem;
    transition: opacity 0.5s ease, bottom 0.5s ease;
    background-color: #0007;
    padding: 0.3rem 0.7rem;
    border-radius: 5px;
    right: 1rem;
}
.resource:hover .resource-save {
    opacity: 1;
    bottom: 0.5rem;
}

.recommended {
    grid-column-start: 1;
    grid-column-end: 3;
}
.continue {
    grid-column-start: 3;
    grid-column-end: 5;
}

.st {
    border: 1px solid white !important;
}
