body {
    overflow-x: hidden;
}

.content {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    max-height: 100vh;
    overflow-y: auto;
    padding: 1rem;
    background-attachment: fixed;
}

.inner-content-container {
    width: calc(100% - 15rem);
    background-size: auto 100%;
    background-position: left center;
}
.inner-content-container .content {
    width: 100%;
}



.content-head {
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    justify-content: end;
}

.head-tile {
    margin: 1rem;
    position: relative;
    background-color: var(--primary);
    background-image: linear-gradient(230deg, #fff0, #fff6);
    background-size: 200% auto;
    border-radius: 7px;
    cursor: pointer;
    padding: 1rem;
    font-size: 1.15rem;
    box-shadow: 0 1px 3px 0 #0000;
    transition: background-position 0.3s ease, width 0.4s ease;
    background-position: right center;
    color: white;
}
.head-tile:hover {
    box-shadow: 0 1px 3px #0005;
    background-position: left center;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.search input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: white;
    padding: 1rem;
    padding-left: 2.5rem;
    cursor: text;
}
.search label {
    font-size: 1.15rem !important;
    opacity: 1;
    pointer-events: none;
}
.search label .search-text {
    width: 4rem;
    transition: opacity 0.4s ease, width 0.4s ease;
    display: inline-block;
}
.search input:focus-within + label .search-text, .search input:not(:placeholder-shown) + label .search-text {
    opacity: 0;
    width: 20rem;
}

.recommended {
    grid-column-start: 1;
    grid-column-end: 3;
}
.continue {
    grid-column-start: 3;
    grid-column-end: 5;
}

/* This is for content that shows only on small devices */
.small-show {
    display: none;
}


@media screen and (max-width: 1200px) {
    .content-head {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
@media screen and (max-width: 800px) {
    .content-head {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .inner-content-container {
        width: calc(100% - 4rem);
    }
}




.unverified, .uv {
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uv-content {
    background-color: #fff4;
    padding: 1rem 2rem;
    border: 1px solid #0001;
    border-radius: 7px;
    width: 85%;
    max-width: 40rem;
    position: relative;
    font-size: 1.1rem;
}
.uv-logo {
    width: 60%;
    max-width: 15rem;
    margin: auto;
    display: block;
    margin-bottom: 2rem;
}
.uv-btn {
    vertical-align: initial;
    font-size: inherit;
    padding-left: 0;
}
.uv-btn:focus {
    box-shadow: none;
}

.uv-footer {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: #444;
}

