{% extends 'accounts/layouts/accounts.html' %}

{% block title %}Account Settings{% endblock title %}

{% block content %}
    <div class="modal-container" id="modal-password" onclick="closeModal(this)">
        <div class="modal-window" onclick="event.stopPropagation()">
            <div class="h d-flex justify-content-between"><span>Change password</span> <i class="fas fa-times cursor-pointer" onclick="closeModal('modal-password')"></i></div>
            <form class="form-group p-0 pb-4">
                <label>Current password</label>
                <input type="password">
                <label>New password</label>
                <input type="password">
                <label>Confirm new password</label>
                <input type="password">
                <div class="button-container">
                    <button class="btn btn-success" type="submit"> Submit </button>
                </div>
            </form>
        </div>
    </div>
    <div class="container-fluid py-4">
        <div class="row gx-4 px-3">
            <div class="col-lg-6 mb-3">
                <div class="g-card p-3">
                    <span class="h">General</span>
                    <span class="input-label">Username</span>
                    <span title="Click to edit" data-toggle="tooltip" class="input-box mb-3 muted">{{ user.username }} <i class="fas fa-lock input-icon"></i></span>
                    <span class="input-label">Password</span>
                    <span onclick="modal('modal-password')" title="Click to edit" data-toggle="tooltip" class="input-box">&#8226;&#8226;&#8226;&#8226;&#8226;&#8226; <i class="fas fa-edit input-icon"></i></span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="g-card dark p-3">
                    <span class="h">Private information</span>
                    <span class="input-label">Email</span>
                    <span title="Not editable" data-toggle="tooltip" class="input-box muted mb-3">{{ user.email }} <i class="fas fa-lock input-icon"></i></span>
                    <span class="input-label">Name</span>
                    <span title="Not editable" data-toggle="tooltip" class="input-box muted mb-3">{{ user.first_name }} {{ user.last_name }} <i class="fas fa-lock input-icon"></i></span>
                    <span class="input-label">Date joined</span>
                    <span title="Not editable" data-toggle="tooltip" class="input-box muted">{{ user.date_joined }} <i class="fas fa-lock input-icon"></i></span>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
