<div class="sidebar">
    <div class="sidebar-top">
        <a class="sidebar-logo mb-3" href="{% url "core:dashboard" %}">Logo here</a>

        <a class="sidebar-link active" href="{% url "core:dashboard" %}">
            <span class="sidebar-link-icon"><i class="fas fa-tachometer-alt"></i></span>
            Dashboard
        </a>
        <a class="sidebar-link" href="{% url "core:dashboard" %}">
            <span class="sidebar-link-icon"><i class="far fa-newspaper"></i></i></span>
            Other page
        </a>
        <a class="sidebar-link" href="{% url "core:dashboard" %}">
            <span class="sidebar-link-icon"><i class="far fa-newspaper"></i></i></span>
            Otherer page
        </a>
    </div>

    <div class="sidebar-bottom">
        <a class="sidebar-link" href="user/settings">
            <span class="sidebar-link-icon"><i class="fas fa-users-cog"></i></span>
            User settings
        </a>
    </div>
</div>
