{% load static %}

<div class="sidebar">
    <div class="sidebar-top">
        <a class="sidebar-logo mb-3" href="{% url "core:dashboard" %}"><img class="w-100" src="{% static 'core/images/logo/grow-long-transparent-white.png' %}"></a>

        <div class="sidebar-links-container">
            <a class="sidebar-link active" href="{% url "core:dashboard" %}">
                <i class="fas fa-tachometer-alt"></i>
                Dashboard
            </a>
            <a class="sidebar-link" href="{% url "core:dashboard" %}">
                <i class="fas fa-chart-bar"></i>
                My Progress
            </a>
        </div>

        <div class="sidebar-hline"></div>

        <div class="sidebar-links-container">
            <a class="sidebar-link" href="{% url "core:dashboard" %}">
                <i class="far fa-clock"></i>
                Watch later
            </a>
            <a class="sidebar-link" href="{% url "core:dashboard" %}">
                <i class="fas fa-history"></i>
                History
            </a>
            <a class="sidebar-link" href="{% url "core:dashboard" %}">
                <i class="far fa-bookmark"></i>
                Saved
            </a>
        </div>
    </div>

    <div class="sidebar-bottom">
        <a class="sidebar-link" href="user/settings">
            <span class="sidebar-link-icon"><i class="fas fa-users-cog"></i></span>
            User settings
        </a>
    </div>
</div>
