/*
 * General bš
 */
body {
    background-color: black;
    color: white;
    overflow: hidden;
}

/*
 * Class for each of the clickable parts on main screen
 */
.half {
    height: 100vh;
    width: 100vw;
    position: absolute;
    transition: filter 0.6s, clip-path 1s ease-in-out;
    filter: grayscale(1) brightness(1);
    background-size: cover;
    cursor: pointer;
}
.half:hover {
  filter:grayscale(0) brightness(1);
}

/*
 * Left and right clickable parts, obviusly
 */
.half-left {
    clip-path: polygon(0 0, 0 100%, 40.1% 100%, 60.1% 0%);
    background-image: url(https://wallpaperaccess.com/full/46542.jpg);;
}

.half-right {
    clip-path: polygon(100% 0, 100% 100%, 40% 100%, 60% 0%);
    background-image: url(https://wallpaperaccess.com/full/4559551.jpg);
}

/*
 * Div for centering text and setting font size
 */
.title-text-container {
    position:absolute;
    top: 0;
    height: 100vh;
    width: 50vw;
    z-index: 2;
    font-size: 5rem;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#right-block .title-text-container {
    right: 0;
    transition: right 1s ease-in-out;
}

/*
 * Makes "glow" effect
 */
.half .title-text-container {
    opacity: 0.8;
    filter: blur(5px);
}

/*
 * Further text centering
 */
.title-text {
    text-align: center;
    line-height: 0.5;
}

/*
 * Parent containers of each half
 */
#left-block, #right-block {
    width: 0;
    height: 0;
    font-family: 'Poppins', sans-serif;
}

/*
 * Holds content displayed after clicking on "GET STARTED"
 */
.intro-content {
    height: 100vh;
    width: 100vw;
    top: 100vh;
    left: 0;
    position: relative;
    z-index: 5;
    overflow-y: scroll;
    overflow-x: hidden;
    visibility: hidden;
}

/* temporary */
/*.intro-content::before {
    content: "";
    display: block;
    width: 0;
    min-height: 150vh;
}*/
.intro-content-bg {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-image: url('/static/accounts/images/bg.png');
}

.title-text-container .form-box
{
    visibility: hidden;
    opacity: 0;
    font-family: 'Comfortaa', cursive !important;
}

/*
 * Clickable back button
 */

.back-button {
    position: fixed;
    bottom: 1rem;
    left: calc(40% + 1rem);
    padding: 0.5rem 1rem;
    border-radius: 999px;
    z-index: 99;
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s ease-in-out, left 1s ease-in-out, right 1s ease-in-out;
    font-family: 'Comfortaa', cursive !important;
    overflow: hidden;
}
.back-button:hover {
    background-position: right center;
}
#left-block .back-button {
    left: initial;
    right: calc(60% + 2rem);
}

.back-button::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 999px;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    transition: left 0.2s ease-in-out;
}
.back-button:hover::before {
    left: 0;
}
.back-button::after {
    content: "Back";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 0.5rem 1rem;
    z-index: 1;
}

/*
 * Attributes added when one of the clickable halves are clicked
 */

.active .half {
    filter:grayscale(0) brightness(1);
    cursor: default;
}

.active .half-left {
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
}

.active .half-right {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
}

.active#right-block .title-text-container {
    right: 25vw;
}
.active#right-block .title-text {
    opacity: 0;
    visibility: hidden;
    animation-name: half-fade-out;
    animation-duration: 1s;
}

.active#left-block .title-text-container {
    animation-name: intro-scroll;
    animation-duration: 2s;
    top: -100vh;
}

.active.intro-content {
    animation-name: intro-scroll-content;
    animation-duration: 2s;
    top: 0;
    visibility: visible;
}

.active .form-box {
    opacity: 1;
    visibility: visible;
    animation-name: half-fade-in;
    animation-duration: 1s;
}

#right-block.active .back-button {
    opacity: 1;
    left: 1rem;
}
#left-block.active .back-button {
    opacity: 1;
    right: 2rem;
}

.active .half, .active .title-text-container {
    z-index: 3;
}

/*
 * Attributes added when the parent element is set NOT active
 */

.nonactive#right-block .form-box {
    animation-name: half-fade-out;
    animation-duration: 1s;
}

.nonactive#right-block .title-text {
    animation-name: half-fade-in;
    animation-duration: 1s;
}

.nonactive#right-block .title-text-container, .nonactive#right-block .half {
    animation-name: overlap;
    animation-duration: 1s;
}

.nonactive#left-block .title-text-container {
    animation-name: deactivate-intro-scroll;
    animation-duration: 2s;
}

.nonactive.intro-content {
    animation-name: deactivate-intro-scroll-content;
    animation-duration: 2s;
}

.nonactive .half-left {
    animation-name: nonactive-left;
    animation-duration: 2s;
}

.nonactive#left-block .back-button {
    animation-name: still;
    animation-duration: 1s;
}

/* PARALLAX EFFECTS*/

.intro-content {
    perspective: 100px;
}
.parallax-container {
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parallax-container > div {
    display: flex;
    align-items: center;
}

.parallax-10 {
    transform: translateZ(-900px) scale(10.5);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
.parallax-50 {
    transform: translateZ(-100px) scale(2.05) translateY(-25%);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
.parallax-75 {
    transform: translateZ(-50px) scale(1.5) translateY(-32.5%);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
.parallax-150 {
    transform: translateZ(25px) scale(0.75);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
.parallax-200 {
    transform: translateZ(50px) scale(0.5);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.svg-shape-container {
    margin: -9vw 0;
    position: relative;
    z-index:1;
}
.svg-shape-container > svg {
    z-index: 10;
}

/**
register form
*/

.register-form {
    display: flex;
    flex-direction: column;
}
.register-form > div {
    width: 100%;
    position: absolute;
}
.register-form .top {
    transform: translateY(-50%);
    opacity: 1;
    transition: transform 1s, opacity 1s;
}
.register-form .bottom {
    transform: translateY(55%);
    opacity: 0;
    transition: transform 1s, opacity 1s;
    pointer-events: none;
}
.register-form.active .top {
    transform: translateY(-155%);
    opacity: 0;
    pointer-events: none;
}
.register-form.active .bottom {
    transform: translateY(-50%);
    opacity: 1;
    pointer-events: initial;
}

/* ANIMATIONS */

@keyframes intro-scroll {
    0% {width: 50vw; top: 0; animation-timing-function: ease-in-out;}
    50% {width: 100vw; top: 0; animation-timing-function: ease-in-out;}
    100% {width: 100vw; top: -100vh; animation-timing-function: ease-in-out;}
}

@keyframes intro-scroll-content {
    0% {top: 100vh; opacity: 0; animation-timing-function: ease-in-out;}
    50% {top: 100vh; opacity: 0; animation-timing-function: ease-in-out;}
    100% {top: 0;  opacity: 1; animation-timing-function: ease-in-out;}
}

@keyframes deactivate-intro-scroll {
    0% {width: 100vw; top: -100vh; z-index: 3; animation-timing-function: ease-in-out;}
    50% {width: 100vw; top: 0; z-index: 3; animation-timing-function: ease-in-out;}
    100% {width: 50vw; top: 0; z-index: 3; animation-timing-function: ease-in-out;}
}
@keyframes deactivate-intro-scroll-content {
    0% {top: 0; visibility: visible; animation-timing-function: ease-in-out;}
    50% {top: 100vh; visibility: visible; animation-timing-function: ease-in-out;}
    100% {top: 100vh; visibility: visible; animation-timing-function: ease-in-out;}
}
@keyframes nonactive-left {
    0% {clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0); z-index: 3; animation-timing-function: ease-in-out;}
    50% {clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0); z-index: 3; animation-timing-function: ease-in-out;}
    100% {clip-path: polygon(0 0, 0 100%, 40.1% 100%, 60.1% 0%); z-index: 3; animation-timing-function: ease-in-out;}
}

@keyframes half-fade-in {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes half-fade-out {
    0% {opacity: 1;visibility: visible;}
    50% {opacity: 0;visibility: visible;}
    100% {opacity: 0;visibility: visible;}
}

@keyframes overlap {
    0% {z-index: 3}
    100% {z-index: 3}
}

@keyframes still {
    0% {right: 2rem;}
    100% {right: 2rem;}
}
